<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
    xmlns:tools="http://schemas.android.com/tools">

	<uses-feature
        android:name="com.oculus.feature.BOUNDARYLESS_APP"
        android:required="true" />

	<uses-permission
        android:name="horizonos.permission.HEADSET_CAMERA" />

	<application>

		<meta-data
            android:name="com.oculus.ossplash.background"
            android:value="passthrough-contextual" />

		<activity
            android:name="com.unity3d.player.UnityPlayerGameActivity"
            android:theme="@style/BaseUnityGameActivityTheme"
            android:exported="true"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<meta-data
                android:name="android.app.lib_name"
                android:value="game" />

		</activity>

	</application>

</manifest>
